<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button size="large" expand="full" (click)="start()" color="primary" expand="block">
      start
    </ion-button>
  </div><br/><br/>
  <div>
    <ion-button size="large" expand="full" (click)="stop()" color="primary" expand="block">
      stop
     </ion-button>
  </div><br/><br/>
  <div>
    <ion-button size="large" expand="full" (click)="getRecords()" color="primary" expand="block">
      Get No. of Records
     </ion-button>
  </div>
  {{ recordsNum }}
 
</ion-content>
